<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>CS2102</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</head>

<body>

    <a href="/logout">Logout</a>
      <a href="/caretaker_search">Back to search</a>

    <table class="table">
        <thead>
            <tr>
				<th scope="col">Caretaker Name</th>
                <th scope="col">For</th>
                <th scope="col">Available From</th>
                <th scope="col">Available Till</th>
                <th scope="col">Price per day</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].name%></td>

                <td><%= data[i].category_name%></td>
                <td><%= data[i].start_date%></td>
                <td><%= data[i].end_date%></td>
                <td><%= data[i].amount%></td>
                <td><button type="button" data-toggle="modal" data-target="#bidModal" data-start_date="<%= startDate%>" data-end_date="<%= endDate%>" data-petowner_email="<%= userEmail%>" data-pet_name="<%= petName%>" data-pet_category="<%= petCategory%>" data-pet_requirements="<%= petRequirements%>"  data-caretaker_email="<%= data[i].caretaker_email %>" data-caretaker_name="<%= data[i].name %>">Bid</button></td>
            </tr>
            <% } %>
        </tbody>
    </table>


<div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bidModalLabel">Bid</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
                <form action="/caretaker_list/bid" method="POST">
      <div class="modal-body">

          <div class="form-group">
            <label for="caretaker_name" class="col-form-label">Caretaker name:</label>
            <input type="text" class="form-control" id="caretaker_name" name="caretaker_name" readonly>
          </div>

          <div class="form-group">
            <label for="caretaker-email" class="col-form-label">Caretaker email:</label>
            <input type="text" class="form-control" id="caretaker_email"  name="caretaker_email" readonly>
          </div>

          <div class="form-group">
            <label for="petowner_email" class="col-form-label">Your email:</label>
            <input type="text" class="form-control" id="petowner_email"  name="petowner_email" readonly>
          </div>

          <div class="form-group">
            <label for="pet_name" class="col-form-label">Pet name:</label>
            <input type="text" class="form-control" id="pet_name"  name="pet_name" readonly>
          </div>

          <div class="form-group">
            <label for="pet_category" class="col-form-label">Pet category:</label>
            <input type="text" class="form-control" id="pet_category"  name="pet_category" readonly>
          </div>

          <div class="form-group">
            <label for="pet_requirements" class="col-form-label">Special Requirements</label>
            <input type="text" class="form-control" id="pet_requirements"  name="pet_requirements" readonly>
          </div>

          <div class="form-group">
            <label class="col-form-label">Date</label>
            <input type="text" class="form-control" id="start_date"  name="start_date" readonly>
            <input type="text" class="form-control" id="end_date"  name="end_date" readonly>
          </div>

          <div class="form-group">
            <label for="bid_amount" class="col-form-label">Your bid: </label>
            <input type="number" class="form-control" id="bid_amount" name="bid_amount" required></input>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>         
		<input type="submit" value="Search" />
      </div>
            </form>
    </div>
  </div>
</div>

</body>

</html>

<script>
  function book(name, id){
    alert(name);
  }

  $('#bidModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var caretaker_name = button.data('caretaker_name');
  var caretaker_email = button.data('caretaker_email');
  var petowner_email = button.data('petowner_email');
  var pet_name = button.data('pet_name');
  var pet_category = button.data('pet_category');
  var pet_requirements = button.data('pet_requirements');
  var start_date = button.data('start_date');
  var end_date = button.data('end_date');

  var modal = $(this);
  modal.find('.modal-title').text('New bid to ' + caretaker_name);

  $('#caretaker_name').val(caretaker_name)
  $('#caretaker_email').val(caretaker_email)
  $('#petowner_email').val(petowner_email)
  $('#pet_name').val(pet_name)
  $('#pet_category').val(pet_category)
  $('#pet_requirements').val(pet_requirements)
  $('#start_date').val(start_date)
  $('#end_date').val(end_date)
  
  })
</script>
